/* .boxes{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    position: absolute;
    top: 0.8rem;
    right: 2rem;
    opacity: 0;
    transition: 0.4s ease-in-out;
    i{
        padding: 0.7rem;
    }
    hr{
        margin: 0;
    }
} */
.quickview{
    padding: 15px 10px;
    border: none;
    background-color: white;
    color:#9c9eb3 ;
    position: absolute;
    bottom: 10%;
    left: 20%;
    right: 20%;
    display: none;
    text-decoration: none;
    text-align: center;
}
.trending{
    text-align: center;
    .row{
        .col-xs-12{
            position: relative;
            padding: 0;
            #secondcardphoto{
                position: absolute;
                top: 0;
                opacity: 0;
                transition: 0.2s ease-in-out;
            }
            &:hover{
                #firstcardphoto{
                    opacity: 0;
                    transition: 0.2s ease-in-out;
                }
                #secondcardphoto{
                opacity: 1;
                transition: 0.2s ease-in-out;
                }
                .boxes{
                    opacity: 1;
                    transition: 0.2s ease-in-out;
                }
                .quickview{
                    display: block;
                    animation: example 0.3s linear;
                    bottom: 5%;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .quickview{
        padding: 15px 50px;
    }
}