@import 'navbar';
@import 'maincontainer';
@import 'trendingnow';
@import 'ouroffice';
@import 'culturesection';
@import 'contact';
@import 'getintouch';
@import 'earbuds';
@import 'cart';
@import 'footer';

body{
    background-color: #333 !important;
    color: #333 !important;
    overflow-x: hidden;
}

